{% extends "admin/layout/main_app.html" %}
{% block title %} 创建管理员 {% endblock %}
{% block main %}
<div class="card">
    <div class="card-body">
        <form action="/admin/manager" method="POST">
            <div class="form-group row">
                <label class="col-form-label col-md-2">用户名</label>
                <div class="col-md-10">
                    <input name="username" type="text" class="form-control" placeholder="用户名...">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-md-2">密码</label>
                <div class="col-md-10">
                    <input type="text" name="password" class="form-control"  placeholder="密码...">
                </div>
            </div>
            
            <div class="text-right mt-3">								<button type="submit" class="btn btn-primary">提 交</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}